@font-face {
    font-family: 'tetris';
    src: url("fonts/Retro_Gaming.ttf") format('truetype'),
    url("fonts/Retro-Gaming.woff") format('woff');
}

*, body {
    margin: 0;
    padding: 0;
    background-color: #EFE9E7;
}
#text{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    text-align: center;
    font-family: 'tetris';
    font-size: 5em;
    margin-top:0.5em;
}

#score-player {
    background-color: white;
}

#end-dialog {
    background-color: white;
    color: #A22522;
    font-size: 15px;
}

p, h2 {
    text-align: center;
    font-family: Consolas;
    font-size: 1.5em;
}

#next-piece {
    width: 120px;
    height: 60px;
    padding: 15% 35%;
    background-color: white;
}

#tetriste, #next, #score {
    position: relative;
    border: 2px solid #000;
    background-color: #fff;
    overflow: hidden;
    display: block;
    margin-left: 1em;
}

#next, #score{
    width: 15em;
    height: 10em;
}

#game {
    display:flex;
    justify-content: center;
    margin-top: 35px;
}

#next{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left:1em;
}

#next-piece {
    width: auto;
    height: 70%;
    padding:0;
    margin: auto;
}

@media screen and (max-width: 699px) {
    h1 {
        font-size: 35px;
    }

    #text {
        font-size: 12px;
    }

    #next {
        width: 7em;
        height: 6em;
    }

    #tetriste {
        width: 15em;
        height: 30em;
    }

    #next-piece, #score {
        width: 60px;
        height: 60px;
        padding: 5% 25%;
    }
}